.container {
  margin: 10px;
  position:relative;
}

.board > p {
  color: #0057c9;
}

.board {
  /*flex: 1;*/
  /*display: flex;*/
  /*flex-direction: column;*/
}

.messages {
  flex: 1;
  overflow-y: auto; /* Enable vertical scrolling for messages */
}

.input {
  margin-top: 10px;
  position:absolute; /* добавили */
  bottom:0; /* добавили */
}

.board p {
  margin-bottom: 10px;
}

.input textarea {
  width: 200px;
  resize: none;
}

.photo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 2px;
}

.name {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  color: #0057c9;
}