.container {
  max-width: 170px;
}

.nav {
  grid-area: B;
  background-color: var(--brand-color);
  border-radius: 3px;
}

.item{
  padding: 5px;
}

.item a {
  text-decoration: none;
  color: var(--brand-second-color);
}

.item a:hover {
  color: var(--brand-color-hover)
}


.item a.active {
  color: var(--brand-color-hover)
}
