* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --brand-color: #0057c9;
  --brand-font: 'Times New Roman';
  --brand-background-color: #eaeaea;
  --brand-second-color: #ffffff;
  --brand-footer-color: #838383;
  --brand-color-hover: #a1a1a1;
  --brand-color-black: #000000;

}

.container {
  max-width: 900px;
  display: block;
  align-items: center;
  background-color: var(--brand-background-color);
}

body {
  font-family: var(--brand-font);
  font-weight: 600;
}

.app {
  display: grid;
  column-gap:  1px;
  row-gap:  1px;
  grid-template-columns: 130px 7fr;
  grid-template-rows: 4fr 330px 2fr;
  grid-template-areas:
    "A A"
    "B C"
    "D D";
  /*justify-items: stretch;*/
  /* align-items: center; */

}

