.contacts {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*width: 120px;*/
  /*height: 400px;*/
  /*color: #234345;*/
  background-color: #5888ce;
  border-radius: 3px;
  /*margin:  10px;*/
  width: 120px;
}

.item a {
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}

.contacts  span {
  color: #000000;
}

.item a:hover {
  color: var(--brand-color-hover)
}


.item a.active {
  color: var(--brand-color-hover)
}

.nav {
  /*border-right: solid 2px #000000;*/
  margin: 5px 0 0 5px;
}




