.contacts {
  display: flex;
  flex-direction: row;
  /*width: 120px;*/
  /*height: 400px;*/
  color: #234345;
  margin:  10px;
}

.contacts ul li a {
  text-decoration: none;
  color: #000000;
}

.contacts ul li {
  /*list-style-type: none;*/
  margin: 5px;
  color: #000000;
}

.contacts span {
  color: #0057c9;
}

.item a:hover {
  color: var(--brand-color-hover)
}


.item a.active {
  color: var(--brand-color-hover)
}

.nav {
  border-right: solid 2px #000000;
  width: 120px;
}




