.profile {
  margin: 10px;
  color: #234345;
}

.image {
  display: flex;
  margin: 10px;

  justify-content: center;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  border: 3px solid var(--brand-color);

}
